
ul {
	margin: 0 0 20px;
	padding: 0;
	list-style-type: none;
}
ul li label {
	font-weight: bold;
}
a,
 .registration-red {
	color: #9e3728;
}
body { background: #000000; color: #333333; font-family: franklin-gothic-urw, sans-serif; }
#top-highlight h2, 
.testimonial, 
.tk-garamond-premier-pro-display, 
.tk-gppd, 
.widget h3, 
h1 { 
	font-family: franklin-gothic-urw, sans-serif;font-size: 16px;
	color: #000;
	font-weight: bold;
	margin-bottom: 30px; 
}
h3
ul {
	margin: 0;
	padding: -10px;
}
ul li {
	list-style: none;
	margin-bottom: 0px;
	padding: 0;
	width: 250px;
}
ul li input {
	width: 100%;
	margin-bottom: 0px;
	padding: 3px;
}
ul li label {
	margin-top: 30px;
	margin-bottom: 3px;
}
ul li input .code {
	margin-bottom: 5px;
}
ul li input[type="checkbox"], ul li input[type="reset"], ul li input[type="submit"] {
	width: auto;
}
input[type="checkbox"] {
	position: relative;
}
#SECURITY_QUESTION_ANSWER_ID {
	margin: 10px 0 15px;
}
select.security-answer {
	margin-top: 5px;
}
#unknownpin {
	margin-top: 10px;
}
input[type="submit"], input[type="reset"] {
	font-size: 12px;
	display: inline;
	width: 85px;
	min-width: 85px;
	padding: 5px 0;
	border: 1px solid #959595;
	border-radius: 5px;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(0.5, #eaeaea), to(#fff));
	background-image: -moz-linear-gradient(90deg, #fff 0%, #eaeaea 50%, #fff 100%);
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
}
div.fields {

}


#form_tbl .submit_form
{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F5F5), to(#B8B9B8));
	background: -webkit-linear-gradient(top,  #F4F5F5, #B8B9B8);
	background: -moz-linear-gradient(center top , #F4F5F5, #B8B9B8) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(top,  #F4F5F5, #B8B9B8);
	background: -o-linear-gradient(top,  #F4F5F5, #B8B9B8);
	border-radius: 6px 6px 6px 6px;
	margin-top: 4px;
}
.valError
{
  border: 3px solid red;
  border-radius: 4px 4px 4px 4px;
}


